* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

body {
  background-image: url("imgs/Hexagon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 95vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px, 10%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-shadow: #f70606 2px 2px;
  font-size: 46px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  margin-left: 30px;
}

.navbar a {
  font-size: 20px;
  color: #fff;
  margin-left: 35px;
  margin-right: 10px;
  font-weight: 500;
  text-decoration: none;
  transition: .3s;
}

.navbar a:hover {
  color: #f70606;
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  color: #fff;
  gap: 50px;
}

.hero h1 {
  font-size: 60px;
  margin-bottom: 20px;
  text-shadow: #f70606 3px 3px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
  text-shadow: #000 2px 2px;
}

.hero button {
  padding: 15px 30px;
  font-size: 18px;
  color: #fff;
  background-color: #b91a91;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s;
}

.hero button:hover {
  font-size: 28px;
  font-weight: 500;
  background-color: #f70606;
  padding: 25px 40px;
  border: 5px solid;
  border-image: linear-gradient(to right, rgb(172, 33, 114), rgb(39, 140, 235)) 1;
}

.hero button:active {
  transform: scale(0.90);
}

.lefthero {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: double 5px #fff transparent;
  height: 80vh;
  width: 80vh;
}

.righthero {
  flex: 1;
  padding: 20px;
  border: double 5px #fff transparent;
  height: 80vh;
  width: 80vh;
}