* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}


img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}


body {
  background-image: url("imgs/Hexagon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Bitcount Single", system-ui;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 5%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  ;
}

.logo {
  text-shadow: #f70606 2px 2px;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 10px;
}

.logoimg {
  height: 40px;
  width: 40px;
}

.navbar a {
  font-size: 20px;
  color: #fff;
  margin-left: 35px;
  margin-right: 10px;
  font-weight: 500;
  text-decoration: none;
  transition: .3s;
}

.navbar a:hover {
  color: #f70606;
}

.hero {
  min-height: 100vh;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  color: #fff;
}

.hero h1 {
  font-size: 60px;
  margin-bottom: 20px;
  text-shadow: #f70606 3px 3px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
  text-shadow: #000 2px 2px;
}

.hero button {
  padding: 1em 2em;
  font-size: 18px;
  color: #fff;
  background-color: #b91a91;
  border: none;
  border-radius: 1000px;
  cursor: pointer;
  transition: .3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.herostart {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: double 5px #fff transparent;
  height: 80vh;
  width: 80vh;
}
